#about {
  background-color: #f7f9fc;
}

#about .about_left p:first-of-type {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc5073;
  margin-bottom: 5px;
}
#about .about_left h2 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3038;
  font-weight: 700;
}
#about .about_left p:last-of-type {
  font-weight: 300;
  font-size: 16px;
  color: #5a5a5a;
  line-height: 24.4px;
}
#about .about_left button {
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 0 35px;
  color: #fff;
  background-color: #dc4f72;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
}
#about .about_left button:hover {
  background-color: #d62f58;
}

#about .about_right {
  padding-left: 10px;
  padding-right: 0;
}

#about .about_right img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: all 0.5s;
}
#about .about_right img:hover {
  transform: translateY(-20px);
}
#about .item {
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  transition: 0.3s;
  border: 1px solid #eee;
}
#about .item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

#about .item h2 {
  font-size: 16px;
  line-height: 24.5px;
  color: #2c3038;
  font-weight: 700;
}
#about .item p.counter {
  font-size: 50px;
  line-height: 1;
  color: #dc4f72;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}
#about .item p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: #5a5a5a;
}
