.feature_title {
  text-align: center;
  max-width: 750px;
}
.feature_title6 {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
}

.feature_title3 {
  font-family: "Nunito", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1;
  color: #2c3038;
}
.feature_titlep {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #5a5a5a;
}

.card a {
  font-size: 40px;
  color: #dc4f72;
}
.card {
  border: none;
}
/*  */
.tabs {
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 5px solid #c1c1c1;
}

.tabs .line {
  position: absolute;
  bottom: -5px;

  width: 10vh;
  height: 5px;
  background-color: #dc4f72;
}
.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #2c3038;
  background-color: #fff;
}
.tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}

.tab-item.active {
  color: #c23564;
}
.tab-content {
  padding: 28px 0;
}
.tab-pane {
  color: #333;
  display: none;
}
.tab-pane.active {
  display: block;
}
.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
.tab-content h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.tab-content p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #5a5a5a;
}
.tab-content a {
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: #dc4f72;
  border: 1px solid #dc4f72;
  transition: 0.5s;
}
.tab-content a:hover {
  background: #dc4f72;
  border: 1px solid #dc4f72;
  color: white;
}
.tab-content img {
  border-radius: 10px;
}
.tab-content img:hover {
  transform: translateY(-10px);
}
