* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s;
}
img {
  display: inline-block;
}
body {
  padding-top: 80px;
  height: 5000px;
}

/* button style */
.btn.clear_button {
  line-height: 52px;
  padding: 0 30px;
  font-size: 14px;
  color: #dc4f72;
  text-transform: uppercase;
  border-color: #dc4f72;
  transition: 0.3s;
}
.btn.clear_button:hover {
  background-color: #dc4f72;
  color: white;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #dc4f72;
  border-color: #dc4f72;
  opacity: 0.6;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
}

.btn.button_normal {
  text-transform: uppercase;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 0 35px;
  color: #fff;
  background-color: #dc4f72;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
}
.btn.button_normal:hover {
  background-color: #d62f58;
}

/* text title style */
.text__style1 {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #dc4f72;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.text__style2 {
  font-family: "Nunito", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1;
  color: #2c3038;
}
.text__style3 {
  font-size: 16px;
  font-weight: 300;
  color: #5a5a5a;
}
.text__style4 {
  font-family: "Nunito", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #2c3038;
}
