#parallax {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(../image/bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  padding: 2rem 0;
}
#parallax h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}
#parallax p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
  font-weight: 300;
}
#parallax button {
  padding: 15px 25px;
  border-radius: 6px;
  border: none;
  font-weight: 400;
}
#parallax button:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
