#why-us {
  text-align: center;
}
.whyus__title {
  max-width: 750px;
}
.whyus__item p {
  margin-bottom: 0;
}
.whyus__item .item__container {
  padding: 48px 32px;
  background-color: #f7f9fc;
  margin-top: 48px;
  border-radius: 5px;
  transition: 0.5s;
  border: transparent;
}
.whyus__item .item__container:hover {
  transform: translateY(-10px);
  background-color: white;
  border: 1px solid #eee;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.13);
}
